# See https://help.github.com/ignore-files/ for more about ignoring files.

# modulo SERVER

# modulo WEB
www/src/**/*.css

# todos modulos
**/node_modules
**/build
**/config.tar.gz
*/.DS_Store
*/**/*.log
tests.js
**/.yarnclean
/www/config/*
/server/config/*
!/server/config/lxf/
!/server/config/scripts/

# */**/yarn.lock