# See https://help.github.com/ignore-files/ for more about ignoring files.

# modulo SERVER

# modulo WEB
web/src/**/*.css

# todos modulos
**/node_modules
**/build
*/config
**/config.tar.gz
*/.DS_Store
*/**/*.log
tests.js
**/.yarnclean


# */**/yarn.lock