# See https://help.github.com/ignore-files/ for more about ignoring files.

# modulo SERVER
server/config*
server/dist

# modulo WEB
web/src/**/*.css

# todos modulos
**/node_modules
*/.DS_Store
*/**/*.log
tests.js


# */**/yarn.lock